{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/index.css' %}">
</head>
<body>
    <div class="form-wrapper">
        <form method="post" action="{% url 'app:query' %}">
            {% csrf_token %}
            <div class="header-holder">
                <label>Search</label><br>
            </div>
            <input class="input-area" id="query" type="text" name="query" maxlength="100" placeholder="ОГРН/ИНН" required><br>
            <p id="query-type">?</p>
            <input id="submit-btn" class="button" type="submit" disabled>
        </form>
    </div>

    <div class="content-wrapper">
        {% if subject %}
            <h3>{{ subject.name_ex }}</h3>
            <p>INN: {{ subject.inn }}</p>
            <p>OGRN: {{ subject.ogrn }}</p>
            <p>CITYNAME: {{ subject.cityname }}</p>
            <p>CITYTYPE: {{ subject.citytype }}</p>
            <p>DESCRIPTION: {{ subject.description }}</p>
            <p>REGISTRATION DATE: {{ subject.registration_date }}</p>
        {% endif %}
    </div>
    <script src="{% static 'app/js/index.js' %}"></script>
</body>
</html>