<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>
    <div class="form-wrapper">
        <form method="post" action="{% url 'app:query' %}">
            {% csrf_token %}
            <div class="header-holder">
                <label>Search</label><br>
            </div>
            <input class="input-area" type="text" name="query" maxlength="50" placeholder="ОГРН/ИНН" required><br>
            <input class="button" type="submit">
        </form>
    </div>
</body>
</html>